<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous Pro">
        <style>
            main, footer {
                margin: 0 20%;
                width: auto;
                display: block
            }
            nav {
                margin: 1.5em 2em 0 1em;
                width: calc(20% - 3em);
                display: block;
                position: absolute;
            }
            @media only screen and (max-width: 1300px){
                main, footer {
                    margin: 0 auto;
                    width: 600px;
                }
                    nav {
                    margin: 2em auto 1em auto;
                    width: 600px;
                    display: block;
                    position: inherit;
                }
                    nav:before {
                    content: "Table Of Contents";
                    font-weight: bold;
                }
                }
            @media only screen and (max-width: 634px){
                main, nav, footer {
                    margin: 0 17px;
                    width: auto;
                }
            }
            body {
                font-family: "Helvetica", sans-serif;
                font-size: 17px;
                color: #c5ccc5;
                background-color: #222222;
                padding: 0;
                margin: 0;
            }
            html {
                padding: 0;
                margin: 0;
            }
            blockquote:before {
                content: "\201C";
                position: absolute;
                color: #C5CCC577;
                font-size: 3em;
                margin-left: -0.5em;
                margin-top: -0.1em;
            }
            h1, h2, h3, h4, h5, h6, code, pre {
                font-family: "Anonymous Pro"
            }
            p, pre, ul, ol {  margin: 0 0 1em 0 }
            pre {
                padding: 0.5em;
                overflow-x: scroll;
            }
            a { color: #807aaa; }
            .well {
                background-color: #2b303b;
                padding: 1em;
                border-radius: 4px;
                margin: 0.5em
            }
            h1, h2, h3, h4, h5, h6 { margin: 1.5em 0 0.5em 0; }
            .footnote-definition {
                display: grid;
                grid-template-columns: 20px auto;
                padding: 5px;
            }
            .footnote-definition > * {  margin: 0.5em 0 }
            .footnote-definition:target { background: #2b303b}
        </style>
    </head>
    <body>
        <nav>
            {{{ toc }}}
        </nav>
        <main>
            {{{ content }}}
        </main>
    </body>
</html>
