<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous Pro">
      <style>
      {% include 'commonstyles.liquid' %}
h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0 0.5em 0;
}
      </style>
  </head>
  <body>
    <main class="wrapper-main">
      <h1>{{ page.title }}</h1>
      {{ page.content }}
    </main>
  </body>
</html>
